@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'ones-bold';
    src: url(../font/static/Onest-Bold.ttf);
}
@font-face {
    font-family: 'ones-medium';
    src: url(../font/static/Onest-Medium.ttf);   
}
@font-face {
    font-family: 'ones-regular';
    src: url(../font/static/Onest-Regular.ttf);
}
*{
    margin: 0;
    font-family: 'ones-medium';
}

.menu-principal{
    margin: 15px;
    align-items: center;
}

.menu-principal>li a:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: #1C3433;
    border-radius: 5px;
}
.Company {
   border-radius: 10px;
   padding: 10px;
   border: 1px solid white;
   

}

.cabecalho nav{
    display: flex;
    background-color: #1C3433;
    padding: 5px;
    justify-content: space-around;
    height: 70px;
    text-align: center;
    align-items:end;
}


.navegacao>ul {
    list-style: none;
    display: flex;
}
.navegacao>ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px;
}
.navegacao>ul i{
    padding: 5px;
    font-size: 16px;}

.banner{
    height:100vh;
    background: linear-gradient(to right, rgba(28, 52, 51, 0.9), rgba(28, 52, 51, 0.4)), url(../img/her\ 1.png) no-repeat center center;
    object-fit: cover;
    background-size: cover;

}
.banner>h1 {
    margin-top: 120px;
    margin-left: 100px;
    color: white;
    font-family: 'ones-bold';
    font-size: 50px;
}
.banner>h1 span{
    color: #53CC6C;
}
.banner>p {
    font-family: 'ones-regular';
    color: white;
    margin-left: 100px;
    margin-bottom: 50px;
}

.banner>a {
    text-decoration: none;
    margin-left: 120px;
    color: #53CC6C;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}
.banner>a:hover {
    transition: 1s;
    background-color: #53CC6C;
    color: white;
}

.tela2 img{
    height:100vh ;
   
    object-fit: cover;
    float: left;
    display: flex;
    
  
}
.figure{
    background-color: #2B2D3D;
    height: 100vh;
   

   
}
.fundobg{
    background-color: #2B2D3D;
    width: 50%;
    height: 100vh;
}
.tela2 h1{

    margin: 150px 0 25px 100px ;
    font-family: 'ones-medium';
    color: #53CC6C;
    font-size: 30px;
    

}
.tela2 p{
    margin-left:100px ;
    margin-bottom: 20px;
    color: white;
    font-family: 'ones-regular';
    font-size: 15px;
  
 
}
.tela2 ul{
    margin-left: 60px;
    margin-bottom: 80px;
    color: white;
    list-style: none;
    
}
.tela2 i{
    color: #53CC6C;
    font-size: 20px;
 
}
.tela2 a{
    margin-left: 100px;
    text-decoration: none;
    color: white;
    background-color: #53CC6C;
    border: solid #53CC6C;
    padding: 15px;
    border-radius: 10px;
}
.tela2 a:hover {
    transition: 1S;
    background-color: white;
    color: #53CC6C;

}
.tela3{
    background-color: white;
    min-height: 100vh;
    margin-bottom: 50px;
  
 }


.img3 img{
   float: right;
   height: 100vh;
   object-fit: cover;

}

.tela3 h1{
    margin: 120px 0 20px 50px;
    color: #669997;
    font-family: 'ones-medium';
  
    
}
.tela3 p{
    margin: 20px 0 0 50px;
    color: black;
    font-family: 'ones-regular';
    margin-bottom: 20px;
 

}
.tela3 ul{
    margin: 20px 0 0 40px;
    color: black;
    margin-bottom: 50px;
    padding: 10px;
    list-style: none;
     
}
.tela3 i{
    background-color:#53CC6C ;
}
.tela3 a{
    margin: 20px 0 0 50px;
    text-decoration: none;
    color: #669997;
    border:1px solid;
    padding: 30px;
    border-radius:10px ;
}
.tela3>a:hover{
    transition: 1s;
    color: white;
    background-color: #669997;
}

.tela4{
    
    background-color: #FFF8F4;
    min-height: 100vh;
    width: 100vw;
}
.fundo4 img{

 padding-top:2px ;
 float: right;
 margin-left: 60px;

}
.tela4 h1{
    font-family: 'ones-bold';
    color: #E9763D;
    font-size:30px ;
    padding: 100px 0 20px 110px;
}
.tela4 h2{
    font-family: 'ones-medium';
    color: black;
    font-size: 18px;
    padding:0 0 25px 130px ;
}
.tela4 p{
    font-family: 'ones-regular';
    color: black;
    padding: 0 0 70px 110px;
}
.tela4 a{
    text-decoration: none;
    color: #E9763D;
    border-radius: 5px;
    border:1px solid #E9763D;
    margin: 0 0 0 110px;
    padding: 15px;
}
.tela4 a:hover{
    transition: 1s;
    background-color:#E9763D ;
    color: white;
}

.tela5{
    min-height: 100vh;
}
.tela5 h1{
    
    font-size: 40px;
    font-style: 'ones-bold';  

    padding: 20px 0 0 60px;
}
.p1{
    font-size: 12px;
   padding: 0 0 0 60px;
    font-size: 'ones-regular';
}
.quadrado-pai1{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 410px;
    margin: 10px 0 10px 10px ;
    border: 3px ;
    border-radius: 20px solid ;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
 
}
.quadrado-pai1 img{
    border-radius: 10px; 
    object-fit: cover;   
}
.quadrado-filho1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
   
  
    width:100%;
    height:100% ;
    border-radius: 20px;
    object-fit: contain;
    object-position: center;
}
.quadrado-filho1 h2{
    margin: 280px 0 0 0 ;
    font-size: 20px;

}
.quadrado-filho1 p{
    font-size:12px ;

}
.quadrado-filho1 a{

    color: white;
    text-decoration: none;
}
.quadrado-filho1 a:hover{
    color:#53CC6C
}

.apr{

    margin: 0 0 0 500px ;
    text-decoration: none;
    color: #53CC6C;
    border-radius: 8px;
    border:1px solid #53CC6C;
    padding: 30px;

}
.apr:hover{
    background-color: #53CC6C;
    color: white;
    transition: 1s;
}

.tela6{
    min-height: 100vh;
    background-color: #F5F2EC;
}
.tela6 h1{

    font-size: 30px;
    font-style: 'ones-bold';  
    padding: 50px 0 0 200px;
}
.tela6 p{

    font-size: 15px;
    margin: 0 0 50px 200px   ;
    font-size: 'ones-regular';
}
.tela6 a{
    text-decoration: none;
     
}

.botao6{
    color: #53CC6C;
    border-radius: 5px;
    border:1px solid #53CC6C;
    padding: 20px;
    margin: 0 0 0 500px;
    text-decoration: none;

}
.botao6:hover{
    transition: 1s;
    background-color: #53CC6C;
    color: white;

}
.quadrado-pai2{
     position: relative;
    display: inline-block;
    width: 380px;
    height: 380px;
    margin: 0 0 0 20px ;
    background-color:rgb(255, 255, 255) ;
    border-radius: 20px;
    text-align: center;

}
.quadrado-pai2 img{

    width: 100%;
    height: 60%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;

}
.quadrado-filho2{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
   
}
.quadrado-filho2 h1{
    font-size: 20px;
    padding:0 50px 40px 0   ;
}
.quadrado-filho2 a{
    color:#53CC6C;
    margin-right: 200px;
}
.quadrado-filho2 a:hover{
    color: #9aefab;
}


.tela7{
    min-height: 100px;
 
}
.fundo7 img{
    border-radius: 20px;
    padding: 100px ;
    
    float: left;
}
.tela7 h1{
   padding-top: 200px;
   padding-bottom: 10px;
    font-size: 50px;
    font-style: 'ones-bold';
}
.tela7 h2{
    padding-bottom: 10px;
    font-size:15px ;
    font-style: 'ones-medium';

}
.tela7 p{
    font-size: 18px;
    font-style: 'ones-regular';
    padding-bottom: 30px;
}
.tela7 a{
    color: #53CC6C;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border:1px solid #53CC6C;
    padding: 20px;
}
.tela7 a:hover{
    color:white;
    background-color: #53CC6C;
    transition: 1s;
}

.cima{
    background-color: #ffffff;
    margin-top: 200px ;
    padding: 50px;
 

}
.cima h1{
   text-align: center;
    font-size: 30px;
    font-style: 'ones-bold';
   
}
.cima h2{
    text-align: center;
    font-size: 15px;
    font-style: 'ones-regular';

}
.frame1{
    margin: 80px 0 50px 420px ;
}
.frame2{
    margin: 0 0 0 550px;
}

.tela8{
    min-height: 80vh;
    width: 80vw;
    background-color: #2B2D3D;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 50px;
}
.fundo8 img{
    float: right;
    object-fit: cover;
   object-position: center; 
   border-radius: 20px;
    

}
.tela8 h1{
    padding: 100px 0 0 0;
    margin:0 0 25px 70px ;
    font-family: 'ones-medium';
    color: #53CC6C;
    font-size: 30px;
}
.tela8 p{
    margin: 0 0 20px 70px ;
    color: white;
    font-family: 'ones-regular';
    font-size: 15px;
}
.tela8 ul{
    margin:0 0 60px 70px ;
    color: white;
    list-style: none;
}
.tela8 i{

    color: #53CC6C;
    font-size: 20px
}
.tela8 a{
    margin: 0 0  0 70px ;
    color: white;
    background-color: #53CC6C;
    border: solid #53CC6C;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;

}
.tela8 a:hover{
     transition: 1S;
    background-color: white;
    color: #53CC6C;

}

@media screen and (min-width:562px) and (max-width: 768px) {

.apr{
   
    padding: 15px;
    margin-left: 200px;
}

.botao6{
    padding: 15px;
    margin-left: 200px ;
}

.h7
{
   margin-left: 90px;
}
}
